.slider {
  overflow: hidden;
  position: relative;
  height: 73.7vh;
}

.slider img {
  width: 100%;
  height: 100%;
}

.control-btn .next {
  position: absolute;
  top: 40%;
  z-index: 10;
  right: 5%;
}

.control-btn .prev {
  position: absolute;
  top: 40%;
  z-index: 10;
  left: 5%;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
/*--------form-----------*/
.slide-form h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.slide-form {
  position: absolute;
  top: 30%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 35%;
  height: 67vh;
  border-radius: 5px;
  color: white;
}
.slide-form .container span{
  color: #31b675;
  font-weight: 600;
  /* background-color: red; */
}
.slide-form input {
  margin-top: 12px;
}
.slide-form .flex_space input:nth-child(odd) {
  margin-right: 20px;
}
.slide-form .submit {
  background: #31b675;
  color: white;
}
/*--------form-----------*/
@media screen and (max-width: 768px) {
  .slider {
    height: 64.2vh;
  }
  .slide img {
    height: 64.2vh;
  }
  .slide-form {
    left: 15%;
    top: 29%;
    width: 70%;
    height: 60vh;
  }
  .slide-form h2{
    margin-top: 25px;
  }
  .container form{
    margin-top: 5px;
  }
  .container form input{
    margin-top: 30px;
  }
}
