.gallery {
  margin-bottom: 50px;
  /* background-color: red; */
}
.gallery .container{
  /* background-color: green; */
  /* overflow: hidden; */
  margin: 0 20px 0 20px;
  padding-left: 8px;
  width: 100%;
  height: 100%;
}
.gallery {
  margin-top: 50px;
}
.gallery img {
  transition: 0.5s;
  width: 100%;
  height: 100%;
}
.gallery .items {
  padding: 0px 18px 0 18px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  /* display: none; */
}
.gallery h3 {
  margin: 10px 0 10px 0;
  font-weight: 400;
}
.gallery .img {
  position: relative;
  overflow: hidden;
  width: 380px;
  height: 252px;
}

.gallery i {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 5;
  font-size: 40px;
  color: white;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 252px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .img::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 360px;
  height: 232px;
  z-index: 3;
  border: 1px solid #31b675;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.gallery .items:hover img {
  transform: scale(1.2);
  cursor: pointer;
}
.gallery .items:hover i,
.gallery .items:hover .img::after,
.gallery .items:hover .img::before {
  opacity: 1;
  cursor: pointer;
}
.popup {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 8;
}

.hide {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.popup-content {
  position: absolute;
  top: 3%;
  left: 20%;
}
.popup button {
  background-color: #fff;
  padding: 15px 35px 15px 35px;
  color: #000;
  position: absolute;
  top: -2%;
  right: 3%;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .gallery .img {
    width: 100%;
    height: 100%;
  }

  .gallery .img::before {
    width: 100%;
    height: 100%;
    background-color: green;
  }

  .gallery .img i{
    /* color: #31b675; */
    top: 40%;
    left: 40%;
  }
  .gallery .img::after {
    width: 90%;
    height: 90%;
    /* background-color: red; */
  }
  .popup-content {
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 0%;
  }
  .popup button {
    background-color: #fff;
    padding: 20px 20px;
    color: #000;
    position: absolute;
    top: -2%;
    right: 6.5%;
    font-weight: bold;
  }
}
